.post-thumb {
  height: 400px;
}

img {
  max-width: 100%;
}

blockquote {
  background: $secondary-color;
  color: $text-color-dark;
  font-style: italic;
  font-weight: 600;
  padding: 20px;
}

.content {
  * {
    margin-bottom: 20px;
  }
}

.widget {
  padding: 15px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $white-widget;
    margin-bottom: 30px;
  }
}

.search-box {
  position: relative;

  i {
    color: $text-color-light;
    left: 0;
    position: absolute;
    top: 25px;
  }
}

.post-thumb-sm {
  max-height: 75px;
  max-width: 75px;
  overflow: hidden;
}

.tag-list {
  li {
    a {
      background: $white-widget;
      color: $text-color-dark;
      display: block;
      padding: 2px 5px;
    }

    a:hover {
      color: $primary-color;
    }
  }
}
