.navigation {
  z-index: 9;
}

.headroom {
  background-color: $white;
  left: 0;
  padding: 10px 40px;
  position: sticky;
  right: 0;
  top: 0;
  transition: all .4s ease-in-out;

  @include mobile {
    padding: 10px;
  }
}

.headroom--unpinned {
  top: -150px;
}

@include desktop {
  .headroom--unpinned {
    top: 0;
  }
}

.headroom--pinned {
  top: 0;
}

.navbar {
  .nav-item {
    .nav-link {
      padding: 20px 15px;

      @include desktop {
        padding: 10px;
      }
    }
  }

  .dropdown {
    &-menu {
      background: $white;
      border: 0;
      border-radius: 0;
      box-shadow: 0 3px 9px 0 $box-shadow-menu;
      display: block;
      left: -10px;
      opacity: 0;
      padding: 10px;
      top: 100%;
      transform: translateY(-20px);
      transition: .3s ease;
      visibility: hidden;

      @include desktop {
        display: none;
        opacity: 1;
        text-align: center;
        transform: translateY(0);
        visibility: visible;
      }
    }

    &-item:active {
      background-color: $primary-color;
      color: $white;
    }
  }

  .dropdown-menu {
    &.show {
      visibility: hidden;

      @include desktop {
        display: block;
        visibility: visible;
      }
    }
  }

  .dropdown:hover {
    .dropdown-menu {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.search-icon {
  background: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
