<div class="col-lg-4 col-sm-6 mb-5">
  <article class="text-center">

    {% if post.image %}
      <img class="img-fluid mb-4" src="{{ site.baseurl }}/images/{{ post.image }}" alt="post-thumb">
    {% else %}
      {% assign without-image = 'article-without-image' %}
    {% endif %}

    <p class="text-uppercase mb-2">TRAVEL</p>
    <h4 class="title-border"><a class="text-dark" href="{{ post.url }}">{{ post.title }}</a></h4>
      <p>
      {% if post.description %}
        {{ post.description }}
      {% else %}
        {{ post.content | strip_html | truncate: 185 }}
      {% endif %}
      </p>
    <a href="{{post.url | prepend: site.baseurl}}" class="btn btn-transparent">read more</a>
  </article>
</div>