// Button style
.btn {
  border: 1px solid;
  border-radius: 0;
  font-family: $primary-font;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 20px;
  position: relative;
  text-transform: capitalize;
  transition: .2s ease;
  z-index: 1;

  &:focus {
    box-shadow: none !important;
    outline: 0;
  }

  &:active {
    box-shadow: none;
  }
}

.btn-primary {
  background: $primary-color;
  border: 0;
  color: $white;

  &:active {
    background: $primary-color !important;
  }

  &:hover {
    background: lighten($color: $primary-color, $amount: 10);
  }
}


.btn-outline-light {
  background: transparent;
  color: $white;

  &:active {
    background: $background-btn-active !important;
    border-color: $background-btn-active;
    color: $text-color-dark;
  }

  &:hover {
    background: $background-btn-active !important;
    border-color: $background-btn-active;
    color: $text-color-dark;
  }
}

.btn-transparent {
  border: 0;
  color: $text-color-light;
}
