// Color Variables
$primary-color: #ff6f00;
$secondary-color: #fdefe6;
$text-color: #585757;
$text-color-dark: #000;
$text-color-light: #767575;
$body-color: #fff;
$border-color: #ababab;
$dark: #393e46;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$background-btn-active: #cbd7dc;
$card-img-overlay-before: rgba($color: $black, $alpha: .3);
$bg-instagram-post-before: rgba($color: $black, $alpha: .5);
$homepage-divider: #edeef0;
$white-widget: #f4f4f4;
$box-shadow-menu:  rgba(0, 0, 0, .12);

$desktop: 992px;
$tablet:  768px;
$mobile:  576px;

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'hanskendrick';
$icon-font: 'themify';
